DATABASE_URI=mongodb://127.0.0.1/payload-template-blank
PAYLOAD_SECRET=YOUR_SECRET_HERE

DO_SPACES_ENDPOINT=
DO_SPACES_ACCESS_KEY_ID=
DO_SPACES_SECRET_ACCESS_KEY=
DO_SPACES_BUCKET=
DO_SPACES_REGION=
DO_SPACES_CDN_URL=

# MIGRACION
HUMHUB_TOKEN=YOUR_HUMHUB
HUMHUB_DEFAULTPASS= # pass default para usuarios importados de humhub
DISABLE_EMAIL_VERIFICATION= # deshabilitar verificacion de email

# SERVER
PORT=3000
PAYLOAD_PUBLIC_SERVER_URL=http://localhost:3000
PAYLOAD_PUBLIC_FRONTEND_URL=http://localhost:8080